<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <br />
    @*@Html.ActionLink("Label", "Action", "Controller")*@

    <p>@Html.ActionLink("People", "Index", "Persons")</p>
    <p>@Html.ActionLink("Locations", "Index", "Locations")</p>
    <p>@Html.ActionLink("Experiences", "Index", "Experiences")</p>

</body>
</html>
