<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Styles.css" />

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <br />
    @*@Html.ActionLink("Label", "Action", "Controller")*@

    <p>@Html.ActionLink("People", "Index", "Persons")</p>
    <p>@Html.ActionLink("Locations", "Index", "Locations")</p>
    <p>@Html.ActionLink("Experiences", "Index", "Experiences")</p>

</body>
</html>
