@{
    ViewData["Title"] = "TravelBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<TravelBlog.Models.Location>

    <h2>Locations</h2>
    <ul>
        @foreach(var location in Model)
        {
            <li>@Html.DisplayFor(x => location.LocationName)</li>
            <li>@Html.DisplayFor(x=> location.LocationName):  @Html.ActionLink("Experiences", "LocationToExperience", new { id = location.LocationId })</li>
            @foreach (var person in location.Persons)
            {   
                <p>Met Here: @Html.DisplayFor(modelItem => person.PersonName)</p>
       

            }
            <p>@Html.ActionLink("Add new experience", "Create", "Experiences", new { id = location.LocationId })</p>
                    <p>@Html.ActionLink("Delete", "Delete", new { id = location.LocationId })</p>
                 @using (Html.BeginForm("Delete", "Locations", new { id = location.LocationId }))
                {
                <input type="submit" value="Delete" />
                }


            @*@using (Html.BeginForm("Create Person", "CreatePerson", new { id = location.LocationId }))
                {

                @Html.LabelFor(model => model.persons)
                @Html.TextBoxFor(model => model.PersonName)

                @Html.LabelFor(model => model.LocationId)
                @Html.TextBoxFor(model => model.LocationId)

                @Html.LabelFor(model => model.ExperienceId)
                @Html.TextBoxFor(model => model.ExperienceId)
            }

            <br />*@

         
        }

    </ul>
<p>@Html.ActionLink("Add new location", "Create")</p>


